/* font-family: 'ABeeZee', sans-serif;
font-family: 'Chelsea Market', cursive; */

/*
|------------------------------------------
|  Global Styles
|------------------------------------------
*/
body {
    font-family: 'ABeeZee', sans-serif; 
}

.theme-wrapper {
    overflow: hidden;
    max-width: 100%;
}

/*
|------------------------------------------
|  Typography
|------------------------------------------
*/
h2, h3, .navbar-brand {
    font-family: 'Chelsea Market', cursive;
    text-align: center;
}

.section-heading {
    
}

/*
|------------------------------------------
|  Header
|------------------------------------------
*/
.navbar {
    will-change: top;
    transition: top .3s ease;
    box-shadow: -1px 3px 5px 0px rgba(71,71,71,.25);
}

.navbar.nav-up {
    top: -100px;
    box-shadow: none;
}
/*
|------------------------------------------
|  Banner
|------------------------------------------
*/
.bnr {
    height: 100vh;
    background: rgb(207, 226, 183);
}
/*
|------------------------------------------
|  Ingredients
|------------------------------------------
*/
.ingredients .carousel-cell img {
    width: 50%;
}

.ingredients .honey {
    position: relative;
    left: 10%;
}

.ingredients .carousel-cell {
    width: 40%;
    min-width: 215px;
    padding: 10px;
}

.ingredients .flickity-slider {
    display: flex;
    align-items: flex-end;
}

.flickity-page-dots .dot {
    background: #9bc961;
}

/* enable Flickity */
.carousel:after {
    content: "flickity";
    display: none; /*hide :after*/
}

@media (min-width: 576px) {
    /* disable Flickity for screen larger than 576px */
    .carousel:after {
        content: '';
    }
}


/*
|------------------------------------------
|  Stores
|------------------------------------------
*/
.stores li img {
    max-width: 100%;
}
/*
|------------------------------------------
|  Footer
|------------------------------------------
*/

/*
|------------------------------------------
|------------------------------------------
|------------------------------------------
|  Media Queries
|------------------------------------------
|------------------------------------------
|------------------------------------------
*/

@media (min-width: 576px){
    .ingredients .carousel {
        display: flex;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));
        align-items: flex-end;
        justify-content: center;
    }

    /* 2 columns */
    .ingredients .carousel-cell {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px) {

    /* 4 columns */
    .ingredients .carousel-cell {
        flex: 0 0 auto;
        width: 25%;
    }
}